*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: #dee0e3;
}

.heading{
    text-align: center;
    margin-top: 25px;
}
.heading h1{
    font-size: 50px;
    color:#36455c;
    margin-bottom: 10px;
}

.heading p{
    font-size: 20px;
    coLor:#666; 
    margin-bottom: 50px;
}

.about{
    display: flex;
    align-items: center;
    width: 85%;
    margin: auto;
}

.about img{
    flex: 0 50%;
    max-width: 50%;
    height: auto;
}

.menu{
    display: flex;
    align-items: center;
    width: 85%;
    margin: auto;
}

.menu img{
    flex: 0 50%;
    max-width: 50%;
    height: auto;
}

.content{
    padding: 35px;
}

.content h2{
    color: #36455c;
    font-size: 24px;
    margin: 15px 0px;
}

.content p{
    color: #666;
    font-size: 18px;
    line-height: 1.5;
    margin: 15px 0px;
}

.btn{
    display: inline-block;
    color: #dee0e3;
    background-color: rgb(86, 15, 95);
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.2s ease;
}

.btn:hover{
    background-color: rgb(144, 12, 161);
}

@media(max-width: 768px){
    .about{
        flex-direction: column;
    }
    .about img{
        flex: 0 100%;
        max-width: 100%;
    }
    .content{
        flex: 0 100%;
        max-width: 100%;
        padding: 15px;
    }
}