body{
    background-color: rgba(70, 58, 201, 0.186);
    padding:50px;
}
.container{
    position: relative;
    top: 160px;
    background-color: rgb(148, 215, 220);
    max-width: 600px;
    margin:0 auto;
    padding:50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.form-group{
    margin-bottom:30px;
}